.upper-menu {
  display: flex;
  flex-direction: row;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  /* background-color: ${({theme}) => theme.background}; */
  opacity: 0.8;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 0.75rem;
}

.time-modes {
  display: flex;
  gap: 0.4rem;
}

.word-modes {
  display: flex;
  gap: 0.4rem;
}

.time-mode:hover {
  /* color: ${({theme}) => theme.accent} */
  cursor: pointer;
  transition: all 0.25s;
}

.modes {
  display: flex;
  flex-direction: row;
}

.mode {
  padding-right: 10px;
}

.bible_select_row {
  display: flex;
  size: 14px;
}
